@model AirportAutomationWeb.Dtos.Response.PagedResponse<AirportАutomationWeb.Dtos.Destination.DestinationViewModel>

@{
	ViewBag.Title = "Destinations";
}

<div class="container mt-5">
	<div class="row">
		<div class="col-md-6 d-flex justify-content-between">
			<div class="custom-navbar">
				<div>
					<a class="btn btn-primary" asp-area="" asp-controller="Destination" asp-action="Create">Create Destination</a>
				</div>
			</div>
		</div>
	</div>
</div>
<br />
<div id="alert">
	@if (TempData["AlertMessage"] != null)
	{
		@await Html.PartialAsync("_AlertPartial", TempData)
	}
</div>

<div class="form-horizontal">
	<div class="form-group">
		@if (Model != null)
		{
			<hr />
			<table class="table table-responsive table-striped table-hover">
				<thead>
					<tr>
						<th>
							@Html.DisplayNameFor(model => model.Data.First().Id)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Data.First().City)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Data.First().Airport)
						</th>
					</tr>
				</thead>
				@foreach (var item in Model.Data)
				{
					<tr class="clickable-row">
						<td onclick="openDetails('@item.Id')">
							@Html.DisplayFor(modelItem => item.Id)
						</td>
						<td onclick="openMap('@item.City')" class="link-primary">
							@Html.DisplayFor(modelItem => item.City)
						</td>
						<td onclick="openMap('@item.Airport')" class="link-primary">
							@Html.DisplayFor(modelItem => item.Airport)
						</td>
					</tr>
				}
			</table>
			@await Html.PartialAsync("_Pagination", Model)
		}
		else
		{
			@await Html.PartialAsync("_DataNotFound")
		}
	</div>
</div>
@section Scripts {
	<script>
		function openDetails(id) {
			window.open('@Url.Action("Details", new { id = "__id__" })'.replace('__id__', id), '_blank');
		}
	</script>
	<script src="~/js/OpenHelper.js"></script>
}